* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer{
    background-color: #ebebeb;
}

header, nav{
    text-align: center;
    border: 5px solid #777;
    height: 80px;
}

article{
    color: #ebebeb;
    background: #777;
}

h1, p{
    color: #777;
    background: #ebebeb;
}

.str{
    font-weight: bold;
}

section{
    width: 495px;
}
